<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /cafe-ps8/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /cafe-ps8/index.html [L]
</IfModule>